{% extends "base.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ addUserForm.as_p }}
        <button type="submit">Создать</button>
    </form>
{% endblock content %}